@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;300;400;500;600;700&family=Press+Start+2P&display=swap");

html,
body,
* {
  font-family: "Inter Tight", sans-serif;
}

:root {
  --main-color: #d0d4f9;
  --second-color: #ffdfc0;
  --alt-color-1: #c0eade;
  --alt-color-3: #fed5db;
  --alt-color-2: #d0d4f9;
}

.navbar {
  background: var(--alt-color-2);
}
.col {
  align-items: center;
  text-align: center;
}

.navbar-brand {
  font-size: 1.3em;
  font-weight: 800;
  letter-spacing: 0.05em;
}

.title {
  font-size: 3.3em;
  font-weight: 850;
  letter-spacing: 0.1em;
}
.description {
  font-size: 1.5em;
  letter-spacing: 0.05em;
  font-weight: 400;
}
.mybg {
  background-image: url(asset/jpn5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 31.25em;
  align-items: center;
  color: azure;
}
